<div>
    <span class="text-bold">Auftrag vergeben</span> 
    <div class="row" layout-padding>
        <div class="teethfont">a</div>
        <div class="teethfont">b</div>
        <div class="teethfont">c</div>
        <div class="teethfont">d</div>
        <div class="teethfont">e</div>
        <div class="teethfont">f</div>
        <div class="teethfont">g</div>
        <div class="teethfont">h</div>
        <div class="teethfont">i</div>
        <div class="teethfont">j</div>
        <div class="teethfont">k</div>
        <div class="teethfont">l</div>
        <div class="teethfont">m</div>
        <div class="teethfont">n</div>
        <div class="teethfont">o</div>
        <div class="teethfont">p</div>
        <div class="teethfont">q</div>
        <div class="teethfont">r</div>
        <div class="teethfont">s</div>
        <div class="teethfont">t</div>
        <div class="teethfont">v</div>
        <div class="teethfont">w</div>
        <div class="teethfont">x</div>
        <div class="teethfont">y</div>
        <div class="teethfont">z</div>
        <div class="teethfont">0</div>
        <div class="teethfont">1</div>
        <div class="teethfont">2</div>
        <div class="teethfont">3</div>
        <div class="teethfont">4</div>
        <div class="teethfont">5</div>
        <div class="teethfont">6</div>
        <div class="teethfont">7</div>
        <div class="teethfont">8</div>
        <div class="teethfont">9</div>
    </div>
</div>